@import "tailwindcss";

/* Global theme colors */
:root {
  --primary: #00A86B;      /* main fintech green */
  --primary-light: #00C776; /* hover / accent */
}

/* Tailwind v4 theme tokens */
@theme {
  --font-sans: "work-sans", system-ui, sans-serif;
  --font-display: "Outfit", "work-sans", sans-serif;
}

@layer base {
  html {
    color-scheme: light dark;
      scroll-behavior: smooth;
  }

  section[id] {
  scroll-margin-top: 6rem;
}

.clip-diagonal-top {
  width: 100%;
  height: 100px; /* or adjust to taste */
  clip-path: polygon(0 0, 100% 0, 100% 50px, 0 100%);
}


  body {
    @apply m-0 min-h-screen bg-neutral-950 text-white/90 font-sans;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }

  a {
    @apply font-medium no-underline hover:text-(--primary-light)
           transition-colors;
  }

  button {
    @apply rounded-lg border border-transparent px-5 py-2 bg-(--primary)
           font-medium font-sans cursor-pointer
           transition-colors hover:border-green-400
           focus:outline-none focus-visible:ring-4;
  }
}

@media (prefers-color-scheme: light) {
  body {
    @apply bg-white text-slate-900;
  }

  a:hover {
    @apply text-green-500;
  }

 
}
